body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 100px;
    padding: relative;
}

.logo {
    text-decoration: none;
    font-style: normal;
    font-family: Inter;
    font-size: 24px;
    line-height: 28.8px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #080305;
    margin-left: 120px;
    margin-right: 671px;
}

.butt {
    position: static;
}

.headers {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}


.sing {
    background-color: #3D1EDD;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 43px;
    letter-spacing: -0.02em;
    margin-right: 16px;
}

.log {
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 1px;
    border-color: #E5DEFD;
    background-color: white;
    padding: 14px 49.5px 14px 49.5px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
}

.logs {
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    background-color: white;
    padding: 14px 20px 14px 20px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
    margin-right: 16px;
}

.first_block {
    width: 967px;
    height: 369px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.main_name {
    color: #080305;
    font-size: 64px;
    margin: 0 0 0 0;
    text-align: center;
}

.main_description {
    color: #707070;
    font-size: 20px;
    margin: 20px 60px 0 60px;
    text-align: center;
    width: 856px;
    letter-spacing: -0.04em;
    font-weight: 400;
    font-family: Inter;
}

.join {
    background-color: #3D1EDD;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 43px;
    letter-spacing: -0.02em;
    margin-right: 16px;
    margin-top: 30px;
}

.butj {
    display: flex;
    justify-content: center;

}

.text_button {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 19.6px;
    letter-spacing: -0.02em;
    color: #707070;


}

.blue {
    color: #3D1EDD;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 2px;;
}
.first_img{
    width: 1200px;
height: 581px;
gap: 0px;
opacity: 0px;
display: flex;
justify-content: center;

}
main{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    margin-left: auto;
    margin-right: auto;
}
