body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 100px;
    padding: relative;
}

.logo {
    text-decoration: none;
    font-style: normal;
    font-family: Inter;
    font-size: 24px;
    line-height: 28.8px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #080305;
    margin-left: 120px;
    margin-right: 671px;
}

.butt {
    position: static;
}

.headers {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}


.sing {
    background-color: #3D1EDD;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 43px;
    letter-spacing: -0.02em;
    margin-right: 16px;
}

.log {
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 1px;
    border-color: #E5DEFD;
    background-color: white;
    padding: 14px 49.5px 14px 49.5px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
}

.logs {
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    background-color: white;
    padding: 14px 20px 14px 20px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
    margin-right: 16px;
}

.first_block {
    width: 967px;
    height: 369px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.main_name {
    color: #080305;
    font-size: 64px;
    margin: 0 0 0 0;
    text-align: center;
}

.main_description {
    color: #707070;
    font-size: 20px;
    margin: 20px 60px 0 60px;
    text-align: center;
    width: 856px;
    letter-spacing: -0.04em;
    font-weight: 400;
    font-family: Inter;
}

.join {
    background-color: #3D1EDD;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 43px;
    letter-spacing: -0.02em;
    margin-right: 16px;
    margin-top: 30px;
}

.butj {
    display: flex;
    justify-content: center;

}

.text_button {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 19.6px;
    letter-spacing: -0.02em;
    color: #707070;


}

.blue {
    color: #3D1EDD;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 2px;
    ;
}

.first_img {
    width: 1200px;
    height: 581px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    top: -394px;
    left: 120px;
    margin-left: 120px;
    margin-right: 120px;
}


main {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

.second_block {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1051px;
    height: 274.46px;
    gap: 32px;
    opacity: 0px;
    margin-left: auto;
    margin-right: auto;
}

.ava {
    width: 59.46px;
    height: 59.46px;
    gap: 0px;
    opacity: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.marks {
    width: 58px;
    height: 44px;
    margin-top: 30px;
    margin-left: 30px;

}

.name_blok1 {
    width: 1051px;
    height: 96px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.text_blok {
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 32px 0 0 0;

}

.text_min {
    margin-top: 3px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #707070;

}

.name_blok {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.black-white-container {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: relative;
}

.black-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
}

.fon {
    background-color: #0C0909;
    width: 1440px;
    height: 487px;
}

.image {
    position: relative;
    width: fit-content;
    margin-bottom: 180px;
}

.image img {
    display: block;
}

.fonn {
    position: absolute;
    top: 33.33%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.third_blok {
    margin-top: 150px;
    margin-bottom: 100px;
}

.background {
    z-index: -1;
    background: radial-gradient(106.43% 106.43% at -2.18% 95.7%, #4B33D1 0%, #6A4EFF 100%);
    width: 1200px;
    height: 598px;
    top: -0.46px;
    gap: 0px;
    opacity: 0px;
    margin-left: 120px;
    margin-right: 120px;
    z-index: -1;

}

.backgroundd {
    position: relative;
}

.big_card_inf {
    width: 619px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0 20px;
    background-color: white;
    position: absolute;
    top: 86px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avas {
    margin-left: 0px;
    width: 59.46px;
    height: 59.46px;
    gap: 0px;
    opacity: 0px;
    display: block;
}

.name_girl {
    text-decoration-color: #121212;
    font-family: Inter;
    font-size: 21.14px;
    font-weight: 700;
    line-height: 29.6px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 13px;
    margin-bottom: 0;
}

.work {
    font-family: Inter;
    font-weight: 400;
    line-height: 15.85px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 6.61px;
}

li {
    display: inline;
}

.about,
.design {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-weight: 400;
    line-height: 13.87px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.about_girl {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}

.design_li {
    padding: 0;
    margin: 0;
}

.works::before {
    content: "•";
    margin-right: 5.84px;
}

.maps {
    margin-right: 6.61px;
    font-size: 11px;
}

.works {
    font-size: 11px;
}

.about {
    color: #707070;

}

.des {
    font-family: Inter;
    font-weight: 700;
    line-height: 9.59px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #707070;
    width: 45px;
    background-color: #F3F3F3;
    padding: 7px;
    font-size: 11px;
}

.design {
    gap: 6.61px;
    opacity: 0px;

}

.inf_header {
    font-family: Inter;
    font-size: 13.21px;
    font-weight: 700;
    line-height: 18.5px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.text_my {
    font-family: Inter;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.87px;
    letter-spacing: 0%;
    color: #707070;

}
.form{
   height:  213.58px;
    width: 186.66px;
}
.imgform{
    width: 28.070255279541016;
height: 28.070255279541016;
gap: 6.1px;
padding: 9.76px;
border-width: 0.61px;
border-radius: 61.02px;

}
.form_input_em::before{
    content: "";
    height: 28px ;
    width: 28px;
    border-radius: 50%;
    border: 1px solid  #707070;
    display: flex;
    position: relative;
    z-index: 2;
    background-image: url("/img/sms.svg");
}