.logo {
    text-decoration: none;
    font-style: normal;
    font-family: Inter;
    width: 700px;
    font-size: 24px;
    line-height: 28.8px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #080305;
}

.butt {
   position: static;
}

.headers {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

.forr {
    text-decoration: none;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;
    color: #121212;
    width: 105px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sing {
    background-color: #3D1EDD;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 43px;
    letter-spacing: -0.02em;

}

.log {
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 1px;
    border-color: #E5DEFD;
    background-color: white;
    padding: 14px 49.5px 14px 49.5px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;

}